@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
  color: #2A2F35;
  background-color: #f2f2f2;
}

*, *::before, *::after {
  box-sizing: inherit;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

meter::-webkit-meter-bar {
    background: #FFF;
    border: 1px solid #CCC;
    height: 50px;
    width: 200px;
    border-radius: 0px;
}

meter::-webkit-meter-optimum-value {
    background: #000;
    background: -moz-linear-gradient(top, #000 0%, #000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, #000));
    background: -webkit-linear-gradient(top, #000 0%, #000 100%);
    background: -o-linear-gradient(top, #000 0%, #000 100%);
    background: -ms-linear-gradient(top, #000 0%, #000 100%);
    background: linear-gradient(to bottom, #000 0%, #000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#000',GradientType=0);
}

  section {
    margin: 1rem 3.5rem;
  }

  .bar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  meter {
    margin-bottom: 2rem;
  }

.use-in-algoma-text {
  margin-top: 2rem;
}

.use-in-algoma-facts {
  font-family: Oswald, sans-serif;
  margin: 3rem .5rem;
}

.margin-bottom-zero {
  margin-bottom: 0;
}

.margin-bottom-top {
  margin-top: 0;
}

.div-space {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.informant-insights-quote {
  font-family: Oswald, sans-serif;
}

.informant-statements-imgs img {
  margin: 3rem 0;
}

.image-one, .image-three {
  display: none;
}

.four-in-ten {
  font-size: 200%;
  margin-bottom: .25rem;
}

.informant-statements p {
  margin: 3rem 2rem 3rem 1rem;
  font-size: 110%;
}

.informant-statements h3 {
  margin: 1.5rem 1rem 1.5rem .5rem;
  font-size: 140%;
}

@media only screen and (min-width: 38em) {

  ol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: .5rem;
    row-gap: 0;
  }

  ol li .btn {
    height: 100%;
    text-align: center;
    align-content: center;
  }

  ol li:nth-child(5) {
    grid-row: span 2;
  }

  ol li:nth-child(6) {
    grid-row: span 2;
  }

  .bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px 100px;
  }

  section {
    margin: 2rem 0;
    overflow: auto;
  }

  meter {
    transform: rotate(270deg);
    grid-row: 1;
    align-self: flex-end;
    width: 50px;
    margin: 0;
  }

  .bar-label {
    grid-row: 2;
    padding: 1rem;
    margin-top: 1rem;
  }

}

@media only screen and (min-width: 60em) {

  section {
    max-width: 48rem;
    margin: 2rem auto;
    overflow: visible;
  }

  .use-in-algoma {
    display: grid;
    grid-template-rows: 300px 400px;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 2rem 0;
  }

  .use-in-algoma .use-in-algoma-text {
    grid-column: 1;
    grid-row: 1;
  }

  .use-in-algoma .use-in-algoma-facts {
    grid-column: 2;
    grid-row: 1;
  }

  .use-in-algoma section {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
  }

  .content .algoma-critical-insights {
    grid-column: 1;
    grid-row: 3;
  }

  .content .youth-cannabis-use {
    grid-column: 2;
    grid-row: 3;
  }

  .content .pregnancy-use {
    grid-column: 1;
    grid-row: 4;
  }

  .content .blood-borne {
    grid-column: 2;
    grid-row: 4;
  }

  .content .page-three-img {
    grid-column: 1 / span 2;
    grid-row: 6;
  }

  .content .informant-insights {
    grid-column: 1 / span 2;
    grid-row: 7;
  }

  .content .informant-statements {
    grid-column: 1;
    grid-row: 8;
  }

  .content .informant-statements-imgs {
    grid-column: 2;
    grid-row: 8;
  }

  .image-one, .image-three {
    display: block;
  }

  .informant-statements-imgs img {
    margin: 2rem;
    width: 80%;
  }

  .informant-statements-imgs {
    margin-top: 5rem;
  }

  .informant-statements {
    margin-top: 5rem;
  }

  .informant-insights {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .informant-insights-quote {
    margin-top: 0;
    margin-left: 2rem;
    font-size: 120%;
  }
