@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
  color: #2A2F35;
  background-color: #f2f2f2;
}

*, *::before, *::after {
  box-sizing: inherit;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  margin: 1rem;
}

h1, h2, h3, h4, h5 {
  font-family: Oswald, sans-serif;
}

img {
  display: flex;
  width: 100%;
}

.logo-header {
  width: 200px;
  padding: 1rem 0 1rem 1rem;
  margin: 0;
  display: inline-block;
}

/* Top navigation */

.current {
  color: #27528B;
}

.nav-base {
  color: #2A2F35;
}

.nav {
  display: none;
  width: 100%;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav li {
  list-style: none;
}

.nav a {
  display: block;
  padding: .5em;
  text-decoration: none;
}

.nav a:hover {
  color: #27528B;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 1em;
  margin-right: 1em;
  margin-bottom: .5em;
  background-image: url("../images/nav-icon.png");
  background-size: 40px auto;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

/* Sub Navigation */

ol {
  padding: 1rem 0;
}

ol li {
  list-style: none;
  padding: .5rem 0;
}

.btn {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #647C8B;
  border: 1px solid #647C8B;
  border-radius: 5px;
  padding: .5rem;
  color: #f2f2f2;
  text-decoration: none;
  padding-left: 1rem;
}

.btn:hover {
  background-color: #27528B;
}

/* Figures */

figure {
  width: 100%;
  margin: 0;
  padding: 1rem 0;
}

figcaption {
  font-style: italic;
  font-size: 80%;
}

/* Information Sections */

.info-text {
  padding: 0;
  margin: 1rem 0;
}

.hospitalizations {
  color: #f2f2f2;
  background-color: #647C8B;
  padding: 1rem;
}

  .hospitalizations img {
    width: 100%;
}

/* Footer */

footer {
  background-color: #DFECF1;
  padding: 2rem;
  margin: 0;
}

.footer-bar {
  padding: .5rem 0;
  text-align: center;
  margin: 0;
  background-color: #f2f2f2;
  color: #2A2F35;
}

table {
  margin: 0;
}


th {
  width: 8em;
  text-align: left;
  font-family: Oswald, sans-serif;
}

.table-grey {
  background-color: #E5E5E5;
}

.canada-wide {
  width: 6em;
}

.sault-wide {
  width: 6em;
}

@media only screen and (min-width: 38em) {

  header, main {
    margin: 0 5rem;
  }

  .nav-label {
    right: 4rem;
  }

  ol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: .5rem;
    row-gap: 0;
  }

  ol li .btn {
    height: 100%;
    text-align: center;
    align-content: center;
  }

  ol li:nth-child(3) {
    grid-column: 1 / 1;

  }

  ol li:last-child {
    grid-column: 3 / -1;
    grid-row: 1 / -1;

  }

  .hospitalizations {
    display: block;
    padding: 2rem;
  }

  .hospitalizations-text {
    padding-right: 1rem;
  }

  .hospitalizations-text  h2 {
    margin-top: 0;
  }

  .hospitalizations img {
    width: 100%;
  }

  table {
    font-size: 150%;
    margin-bottom: 2rem;
  }

  .the-cost-of-use-table {
    margin-bottom: 4rem;
  }

  .canada-wide {
    width: 10em;
  }

  .sault-wide {
    width: 10em;
  }

  th {
    width: 10em;
  }

  footer img {
    width: 200px;
  }

  .footer-content {
    margin-left: 5rem;
    max-width: 500px;
  }

}

@media only screen and (min-width: 60em) {

  .nav-open,
  .nav-close {
    display: none;
  }

  .nav, .nav a, .nav li {
    display: inline-block;
  }

  .nav li {
    padding: 0 .15rem;
  }

  .nav {
    padding: 0;
  }

  .logo-header {
    width: 250px;
    padding: 2rem 0 0;
  }

  ol {
    margin: 1rem 8rem;
    font-size: 120%;
  }

  h2 {
    margin-top: 0;
  }

  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
  }

  article .hp-intro {
    grid-column: 1;
    grid-row: 1;
  }

  article .what-are-opioids {
    grid-column: 2 / 1;
    grid-row: 2;
  }

  article .legal-vs-illegal {
    grid-column: 2 / 2;
    grid-row: 2;
  }

  article .naloxone-img {
    grid-column: 1 / span 2;
    grid-row: 3;

  }

  article .escalaing-fentanyl-crisis {
    grid-column: 1;
    grid-row: 4;
  }

  article .escalaing-fentanyl-crisis-img {
    grid-column: 2;
    grid-row: 4;
  }

  article .hidden-dangers {
    grid-column: 1;
    grid-row: 5;
  }

  article .hidden-dangers-img {
    grid-column: 2;
    grid-row: 5;
  }

  article .hospitalizations {
    grid-column: 1 / span 2;
    grid-row: 6;
  }

  .hospitalizations {
    display: flex;
  }

  .hospitalizations-text {
    width: 48rem;
    margin: 1rem;
    margin-right: 2rem;
  }

 .hospitalizations img {
    width: 20%;
    height: auto;
  }

  article .the-cost-of-use {
    grid-column: 1;
    grid-row: 7;
  }

  article .the-cost-of-use-table {
    grid-column: 1 / span 2;
    grid-row: 8;
    margin: 0 10rem;
  }

  th {
    width: 12em;
  }

  .canada-wide {
    width: 12em;
  }

  .sault-wide {
    width: 12em;
  }

  .the-cost-of-use-table h4 {
    margin-bottom: 4rem;
  }

  .table-wrapper {
    overflow: visible;
  }

}
